<div class="container  mt-5">
    <div class="row">
        <div class="col-md-6 m-auto">
            <h2 class="text-center font-weight-bold">Admin Login</h2>
            <form action="/admin/login" method="post">
                {{#if adminLoginErr}}
                <p class="text-danger">{{adminLoginErr}}</p>
                {{/if}}
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input name="adminEmail" type="email" class="form-control" id="exampleInputEmail1"
                        aria-describedby="emailHelp" placeholder="Enter email">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input name="adminPassword" type="password" class="form-control" id="exampleInputPassword1"
                        placeholder="Password">
                </div>
                <div class="mt-4">
                    <button type="submit" class="btn btn-primary float-right ">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>