<div class="container  mt-5">
  <div class="row">
    <div class="col-md-6 m-auto">
      <h2 class="text-center font-weight-bold">Create new account</h2>
      
      <form action="/sign-up" method="post">
        <div class="form-group">
          <label for="name">Name</label>
          <input name="name" type="text" class="form-control" id="Username" placeholder="Enter name">
        </div>
        <div class="form-group">

          <label for="userName">User name</label>
          <input name="userName" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
            placeholder="create an user name">
          
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input name="userPassword" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <a href="/login" style="color: #002082;">already have an accout?</a>
        <div class="mt-4">
          <button type="submit" class="btn btn-primary float-right ">Create</button>
        </div>
      </form>

    </div>
  </div>
</div>